<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="System.Windows.Forms.ToolStripApplicationSettings.frmMain.mnuMain" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="System.Windows.Forms.ToolStripItemApplicationSettings.frmMain.xToolStripMenuItem" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <System.Windows.Forms.ToolStripApplicationSettings.frmMain.mnuMain>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>1026, 50</value>
      </setting>
      <setting name="Raft" serializeAs="String">
        <value>Top</value>
      </setting>
      <setting name="ItemOrder" serializeAs="String">
        <value>mnuDirectSale,toolStripMenuItem1,tAKEAWAYToolStripMenuItem,dELIVERYToolStripMenuItem,cANCELCLOSEToolStripMenuItem,fUNCTIONSToolStripMenuItem,cUSTOMERSToolStripMenuItem,tABLESToolStripMenuItem,lOCKToolStripMenuItem,sCANDISABLEDToolStripMenuItem,xToolStripMenuItem,</value>
      </setting>
    </System.Windows.Forms.ToolStripApplicationSettings.frmMain.mnuMain>
    <System.Windows.Forms.ToolStripItemApplicationSettings.frmMain.xToolStripMenuItem>
      <setting name="Checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayStyle" serializeAs="String">
        <value>Text</value>
      </setting>
      <setting name="TextDirection" serializeAs="String">
        <value>Horizontal</value>
      </setting>
      <setting name="TextAlign" serializeAs="String">
        <value>MiddleCenter</value>
      </setting>
      <setting name="ImageAlign" serializeAs="String">
        <value>MiddleCenter</value>
      </setting>
      <setting name="TextImageRelation" serializeAs="String">
        <value>ImageBeforeText</value>
      </setting>
      <setting name="Owner" serializeAs="String">
        <value>mnuMain</value>
      </setting>
    </System.Windows.Forms.ToolStripItemApplicationSettings.frmMain.xToolStripMenuItem>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  
</configuration>
