<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Shop_Name" value="webclient"/>
    <add key="Database_Instance" value="."/>
    <add key="Database_Name" value="DTRMSimple"/>
    <add key="Database_User_Name" value="sa"/>
    <add key="Database_Password" value="servetvural"/>
    <!-- Culture specific nl 2,75 gb 2.75-->
  <!--  
  <add key="Solva_Productivity_Ratio" value="2,75"/> -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="DTRMcookie" loginUrl="Default.aspx" protection="All" timeout="15"/>
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="Default.aspx">
      <!-- 
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        -->
    </customErrors>
    <authorization>
      <allow users="*"/>
      <deny users="?"/>
    </authorization>
    <globalization fileEncoding="utf-8" culture="nl-NL" uiCulture="nl-NL"/>
    <httpRuntime/>
  </system.web>
</configuration>